[2017-10-01 09:19] eladhaz05 opened #1 "Serverless plugin "serverless-offline-sns" not found. Make sure it's installed and listed in the "plugins" section of your serverless config file."
I got this error every time I try to start sls offline.
I add it to the plugins and install it.
Why?

Thanks.

[2017-10-01 09:27] mj1618 commented on #1
Hi eladhaz05!

Thanks for your bug submission, I can take a look for you.

Which commands did you run and what is your serverless.yml?

Cheers
Matt

[2017-10-01 13:00] mj1618 commented on #1
Hi @eladhaz05 !

There was one missing dependency in the plugin - `node-fetch`.

I have fixed this and published a latest version - 0.12.0.

Please update and you should see it fixed.

I have also done an example application to show how the config ties together - https://github.com/mj1618/serverless-offline-sns-example

[2017-10-01 16:52] eladhaz05 commented on #1
Thank you.
But I have another issue.
If I send sns.publish({
                    Message: JSON.stringify({test:test}),
                    MessageStructure: "json",
                    TopicArn:'arn:aws:sns:eu-west-1:254002648520:Heimdallr-Invoke'
                  }
I never get the data in the lambda.
When I changed in the sns-server.js file line 162 :
return node_fetch_1.default(sub.Endpoint, {

[2017-10-01 22:32] mj1618 commented on #1
Awesome @eladhaz05 thanks for your help on finding these bugs.

I have now pushed `v0.13.0`.

I'll be continuing to look for bugs this week, if you find any more let me know 🙂

[2017-10-02 01:16] mj1618 commented on #1
Hi @eladhaz05

I have just committed a change in `0.14.0` to use the correct Lambda SNS event message structure according to [Sample Events](http://docs.aws.amazon.com/lambda/latest/dg/eventsources.html)

I've updated the [example](https://github.com/mj1618/serverless-offline-sns-example) to demonstrate this.

[2017-10-03 02:26] mj1618 commented on #1
Seems it is fixed for me, I hope it also has fixed your issue @eladhaz05 so I'm going to close this ticket.

If you find any other issues feel free to create a new issue.

[2017-10-03 02:26] #1 closed

[2017-10-09 15:06] eladhaz05 opened #2 "context empty"
When I use the plugin, the context object in empty.
Is there any chance that it won't be, so it will be as SNS in amazon?

Thank you

[2017-10-09 15:51] mj1618 commented on #2
Hi @eladhaz05 sure let me take a quick look and see what it's supposed to return.

[2017-10-09 16:05] mj1618 commented on #2
Hi @eladhaz05 I've just pushed `0.16.0` which creates a fake lambda context similar to serverless-offline.

The output I get in the example application is:
[code]

[2017-10-09 16:07] eladhaz05 commented on #2
Great
Thank you

[2017-10-09 16:08] eladhaz05 opened #3 "Dynamodb offline"
Is there an option to use dynamodb offline plugin with it?

[2017-10-09 16:08] #2 closed

[2017-10-09 16:08] mj1618 commented on #2
No problem! 🙂

[2017-10-09 16:10] mj1618 commented on #3
Do you mean from a Dynamo stream?

Also which plugin are you referring to, is it this one? https://www.npmjs.com/package/serverless-dynamodb-local

[2017-10-09 16:11] eladhaz05 commented on #3
Yes, this one.
I want that when a function is called by the offline-sns it also will recognize my migrations with this plugin.
I try it and it did not work.
Thank you

[2017-10-09 16:14] mj1618 commented on #3
Sorry but I'm not exactly sure the use-case.

Are you trying to listen on a Dynamo stream? e.g. http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.Lambda.html

[2017-10-09 16:24] mj1618 commented on #3
Can you provide some sample code to demonstrate the use case?

[2017-10-09 16:56] eladhaz05 commented on #3
For example:
I run two services with serverless-oflline with different ports
One of them uses serverless-offline-sns plugin with a different port.
Two of them use dynamodb-local plugin also with different ports.
When I try to call one service to another using SNS, everything works fine until I try to query something from the dynamodb that i use locally with dynamodb-local plugin.
It always said th

[2017-10-10 15:09] mj1618 commented on #3
Hi @eladhaz05

It seems to work fine for me, here's an example: https://github.com/mj1618/serverless-offline-sns-example/tree/dev/dynamo-local

[2017-10-10 17:39] eladhaz05 commented on #3
Thank you,
I checked again works fine.

[2017-10-10 18:10] eladhaz05 opened #4 "Debug"
Can I add console debug to my lambda that called by the SNS.
When i put console log i cannot see anything.
Thank you

[2017-10-10 23:32] mj1618 commented on #4
Oh yea sure thing!

[2017-10-10 23:34] #3 closed

[2017-10-22 09:53] eladhaz05 opened #5 "custom port"
I want to get the port for the serverless-offline-sns from custom file:
example serverles.yml:
custom:
  globals: ${file(../globals.offline)}
  serverless-offline-sns:
    port: ${self:custom.globals.offline.sns-ports.${self:service}}
    debug: true

I have file globals.offline i nmy project.
When i debug your code i see that the pluging get this :  ${self:custom.globals.offline.sns-ports.${self:

[2017-10-22 10:05] mj1618 commented on #5
Hey man, yea sure I'll look into it.

[2017-10-22 10:55] mj1618 commented on #5
Hey @eladhaz05 try version v0.18 and let me know if it fixes your issue.

[2017-10-22 11:18] eladhaz05 commented on #5
Did you publish this version?

[2017-10-22 11:23] mj1618 commented on #5
Hmm yes.. maybe it is taking some time for npm to refresh it. I’ll check later and see what’s going on

[2017-10-22 14:36] mj1618 commented on #5
Hi @eladhaz05 try 0.20 instead

[2017-10-22 15:43] eladhaz05 commented on #5
The same issue
I got in line: 235 in index.js file in the plugin:
_this.port = ${self:custom.globals.offline.sns-ports.${self:service}} instead of my port

[2017-10-22 16:27] mj1618 commented on #5
Yea you're right... ok I've test this in the example app, should be fixed in v0.21

Unfortunately the serverless docs are a bit light on this.

[2017-10-22 16:27] mj1618 commented on #5
Btw I tested with this in my customer section:

[code]

[2017-10-23 09:23] eladhaz05 commented on #5
Thank you,
Works good

[2017-10-23 09:25] mj1618 commented on #5
No problem, thanks for using the plugin!

[2017-10-23 09:26] #5 closed

[2017-11-02 19:54] todda00 opened #8 "Support for Webpack"
Is there anyway the subscribed function can be called using the webpack compiled code? Currently I am using serverless-offline and serverless-webpack which work great, but when I publish to the SNS topic subscribed by serverless-offline-sns, the handler function fails since its not using the webpack version:
[code]

[2017-11-03 00:33] mj1618 commented on #8
Hi @todda00

Yea this sounds like it should work.

I might try and reproduce your issue first, any info/config you can provide to help me would be much appreciated.

Note that although this plugin is written in typescript, the compiled+packaged code is base es6 without any import keywords. So you must have cloned this plugin and are referencing the src/ directory?

[2017-11-03 13:36] todda00 commented on #8
Your package isn't including the src, the issue is with the handler that is being called after an SNS is published. The handler is being called directly, not pointing to the webpack compiled version. I modified your example to show the issue: https://github.com/todda00/serverless-offline-sns-example

You can see that the ping works fine and you could use any ES6 syntax you have configured with web

[2017-11-04 05:15] mj1618 commented on #8
Awesome great info there. I’ll take a look. I thought I was doing what serverless-offline does to look up handlers, I must have missed something.

[2017-11-04 08:16] mj1618 commented on #8
Hey there,

All fixed, I checked serverless offline and it uses the "location" option, so I just tapped into that to get it to work. https://github.com/mj1618/serverless-offline-sns/commit/fa0028d17e16b51a2a0b336c08610867bc97bf15

Let me know if it fixes the issue, you'll need to use v0.24

[2017-11-04 08:18] mj1618 commented on #8
Will leave the issue open until you confirm.

[2017-11-05 16:41] todda00 commented on #8
Updated the example repo to 0.24 and the same issue still persists: https://github.com/todda00/serverless-offline-sns-example

With debug enabled, the line here still prints the source version: https://github.com/mj1618/serverless-offline-sns/blob/fa0028d17e16b51a2a0b336c08610867bc97bf15/src/index.ts#L121

`require(/Users/toddhumphrey/Repos/serverless-offline-sns-example/./handler)[pong]`

[2017-11-05 17:23] todda00 commented on #8
This is where serverless-webpack is setting the location: https://github.com/serverless-heaven/serverless-webpack/blob/master/lib/prepareOfflineInvoke.js

Which gets called before `serverless offline start`:
https://github.com/serverless-heaven/serverless-webpack/blob/5c9f14d53f4ce739ebcf69748d532c0f5253b7c3/index.js#L130-L138

Not sure why the location serverless-offline-sns is getting ins't the

[2017-11-05 18:45] todda00 commented on #8
Figured it out, the way the plugins are listed in serverless.yml matters, when I list them as follows all is well:

[code]

I'm sure the location also still had to change for this to work, but with the correct plugin order, its using the webpack modified location now.

[2017-11-05 18:45] #8 closed

[2017-11-06 00:52] mj1618 commented on #8
Yea that’s right, it says that in the serverless offline documentation - I should put it in this projects readme as well.

Cheers

[2017-11-06 21:07] eladhaz05 opened #9 "functionName not the same as AWS"
Hi,

Can you send in the context object the function name as it in AWS.
In you plugin it is just the name of the function,
In AWS it is "service name"-"stage"-"function name"
Will be very helpfull.

Thank you

[2017-11-08 06:57] mj1618 commented on #9
Hey @eladhaz05 sure I'm taking a look at this. Thanks!

[2017-11-08 15:38] mj1618 commented on #9
Hi @eladhaz05 try `v0.25.0`

In the example project I now get `sns-test-dev-pong` as the function name

[2017-11-17 03:28] #9 closed

[2017-11-20 01:30] darbio opened #10 "Does not pick up SNS queues defined with display name in YML"
As per the [docs](https://serverless.com/framework/docs/providers/aws/events/sns/#sns) SNS queues can be defined inline, causing the SNS queues to be created if they do not already exist.

These aren't picked up by the project and no subscriptions are set up.

Does not work:
[code]

Causes error:

[code]

Works:
[code]

[2017-11-20 01:56] mj1618 commented on #10
Good catch - will look into this one!

[2017-11-20 02:06] darbio commented on #10
https://github.com/darbio/serverless-offline-sns/commit/082ee54dcb66382c50bd9a6feb7ce89c14229e03#diff-f41e9d04a45c83f3b6f6e630f10117fe

[2017-11-20 02:06] darbio commented on #10
If you want to review and test it I'll PR it in for you.

[2017-11-20 03:54] mj1618 commented on #10
Nice merged! Thank you heaps

[2017-11-20 03:54] #10 closed

[2017-11-21 20:26] jadehwangsonos opened #13 "Lambda function is not invoked when displayName is used in SNS in yml"
Hi,
I thought this would have been resolved by the issue 'Does not pick up SNS queues defined with display name in YML #10' but I still have the issue with the version 0.25.0.

This is from your example:

Works in serverless.yml:
  pong:
    handler: handler.pong
    events:
      - sns: test-topic

NOT Work in serverless.yml:

  pong:
    handler: handler.pong
    events:
      - sns:
          t

[2017-11-22 04:02] mj1618 commented on #13
Hi @jadehwangsonos !

Sorry about this, there has been a fix since then and that is in v0.27.0

Can you please try this and let me know if it works for you?

Thank you for the bug report.

Matt

[2017-11-22 04:27] mj1618 commented on #13
Aha - one issue I've found is if you have 2 spaces before topicName it considers topicName part of the events object in yaml.

You need 3 spaces more than sns to consider it an item in SNS.

To clarify I've added this to the example project here: https://github.com/mj1618/serverless-offline-sns-example/blob/master/serverless.yml#L13

Let me know how you go 🙂

[2017-11-22 15:46] jadehwangsonos commented on #13
I downloaded v0.27.0 and it works! I had enough spaces for an item in SNS but it got lost while I'm writing a comment on Github.
Thanks for your quick feedback!

[2017-11-23 01:51] mj1618 commented on #13
No problem! Thanks for reporting the problem

[2017-11-23 01:51] #13 closed

[2017-12-01 19:35] jadehwangsonos opened #14 "localhost in TopicArn does not work"
Hi,

I found that the lambda function subscribing offline-sns works well if TopicArn uses us-east-1 for region but does not work for localhost. Since offline-sns meant work locally, I think localhost should work. What do you think?

The following is the example from serverless-offline-sns-example.

**[What works]**
  sns.publish({
    Message: "hello!",
    MessageStructure: "json",
    TopicArn:

[2017-12-02 02:24] mj1618 commented on #14
Hi there!

Thanks again for an interesting report.

I’ll have a look, but I think the SNS library only accepts legitimate AWS regions.

The pattern I’ve used in the past is to always keep the same region you’re deploying to.

If it doesn’t work with say eu-West-1 I will definitely want to fix that. It could be the same fix for both.

[2017-12-02 02:33] jadehwangsonos commented on #14
I was thinking the use case like setting AWS_REGION in local in env.yml. Then use it for offline-sns and local Dynamo and so on for local testing.

[2017-12-02 02:37] mj1618 commented on #14
Yea I'm not sure if that's a recommended approach. I will take a look now

[2017-12-02 03:14] mj1618 commented on #14
Ok I've just published 0.28.

If you set your region in serverless.yml, the SNS listener will also use that region. This includes localhost.

See here for an example - https://github.com/mj1618/serverless-offline-sns-example/tree/arbitrary-regions

It originally didn't allow any non-us-east region so it was worth fixing.

[2017-12-04 13:31] #14 closed

[2017-12-04 17:06] jadehwangsonos commented on #14
It works as a charm. Thank you so much for your support!

[2017-12-04 18:31] jadehwangsonos opened #15 "SNS cannot handle special characters in its message"
Hi again,

It's me again. :)
I found that SNS message cannot handle special characters.

**[What works]**
`sns.publish({
    Message: "hello! ",
    MessageStructure: "json",
    TopicArn: "arn:aws:sns:us-east-1:123456789012:test-topic",
  }
`

**[What NOT work]**
`sns.publish({
    Message: "hello! Porée",
    MessageStructure: "json",
    TopicArn: "arn:aws:sns:us-east-1:123456789012:test-topic"

[2017-12-06 00:50] mj1618 commented on #15
Cool yes I should be able to fix this

[2017-12-09 09:14] mj1618 commented on #15
Try v0.29 it should work now 😉

[2017-12-10 07:42] #15 closed

[2018-01-14 23:18] jamiel opened #18 "Environment variables not set in handler function"
When calling a serverless handler function through the sns event on the serverless-offline-sns plugin endpoint, the environment variables defined in serverless.yaml are not present in process.env . They are present when going through the the API gateway on serverless-offline so this problem seems to be isolated to the serverless-offline-sns plugin.

[2018-01-15 02:35] mj1618 commented on #18
Yep you’re right - I’m able to reproduce. Thanks I will look into this shortly.

[2018-01-15 09:34] mj1618 commented on #18
Actually not sure I can reproduce the error now... I have written a fix but I don't seem to have been able to produce the original error.

Can you please share your code (the relevant parts)? Or recreate the issue using https://github.com/mj1618/serverless-offline-sns-example

[2018-01-15 09:37] mj1618 commented on #18
I've tried to recreate it here - https://github.com/mj1618/serverless-offline-sns-example/tree/env_var_issue

But when I use `npm start` and hit localhost:3000/ping it does in fact show me the correct env var in the console logs.

[2018-01-15 10:25] jamiel commented on #18
Thanks for looking into this. I believe in your example it works because the SNS handler is sharing the same process as the API gateway, and when you use the API gateway for the ping serverless-offline process.env gets updated correctly and then the pong handler is loaded afterwards. To reproduce make a test file on your branch, say test.js with just the SNS publish code, then restart serverless-o

[2018-01-15 10:27] mj1618 commented on #18
Gotcha, thanks I'll give it a go.

[2018-01-15 10:39] mj1618 commented on #18
Here's what I'm doing on this branch -https://github.com/mj1618/serverless-offline-sns-example/tree/env_var_issue

1. `serverless offline start`
2. `node ./test.js`

I still get the right env variable showing.

Sorry if I've misunderstood the use case

[2018-01-15 10:40] mj1618 commented on #18
Wait... silly me I was using the code with the fix applied. Ok turning the fix off I can reproduce the error.

[2018-01-15 10:41] mj1618 commented on #18
Publishing v0.32.0 with the fix in it.

[2018-01-15 10:41] mj1618 commented on #18
Yep you can take a look now with v0.32 - let me know if there's still any issues.

[2018-01-15 11:35] jamiel commented on #18
Brilliant, that works now thanks @mj1618 . Much appreciated.

[2018-01-15 11:36] #18 closed

[2018-01-19 00:20] idmontie opened #21 "Function specific environment variables are not in process.env"
It looks like when a function is being called from SNS, the function specific environment variables for that function are not being added to the `process.env`.

For example, I am running `serverless offline start` with the following `serverless.yml`:

[code]

When `func1` does an `sns.publish` and `func2` is invoked, `func2` will only have `VAR_1` in the `process.env`.

What should happen is that

[2018-01-19 03:20] mj1618 commented on #21
Thanks for looking into this! nice work

[2018-01-25 12:56] reneeichhorn opened #23 "Custom aws endpoint is not working correcly due to wrong subscriptionEndpoint"
**Current behavior:**
When using the internal SNS server, a subscription call will also create a new route `{endpoint}/{lambda-function-name}` this route will be used a `subscriptionEndpoint` then.
For a custom aws endpoint though the `subscriptionEndpoint` is also `{endpoint}/{lambda-function-name}` and of course for localstack sns this is an unknown route.

**Expected behavior:**
The subscriptio

[2018-01-25 17:19] mj1618 commented on #23
Thanks @reneeichhorn I’ll take a look

[2018-01-29 03:06] mj1618 commented on #23
Alright should be good if you try v0.35.

An example use (with localstack SNS) I've made available on this branch - https://github.com/mj1618/serverless-offline-sns-example/tree/custom-endpoint

[2018-01-30 02:55] #23 closed

[2018-02-13 22:01] krzkaczor commented on #8
@mj1618 you should definitely put it in readme :) I just started using your plugin and it didn't work but fortunately, I found this issue. Thanks!

[2018-02-14 01:03] mj1618 commented on #8
Oh right good feedback, will do!

[2018-02-14 11:29] mj1618 commented on #8
All done

[2018-02-20 14:22] Siyfion opened #24 "Can't get it working at all..."
So I'm using the latest release of the Serverless Framework, with a YAML file that has these key bits:

[code]

Firstly, the ordering of the plugins is deemed *important*, yet the README.md in the library and the example `serverless.yml` have them ordered in two different ways... Which is correct?

Secondly:

* When I call `sls offline` I get the usual `offline` output, but with no SNS-specific lo

[2018-02-20 14:35] mj1618 commented on #24
Hey thanks for the issue report, I'm trying to reproduce your issue now.

I've updated the readme to make it clear that only the webpack ordering matters.

[2018-02-20 15:04] mj1618 commented on #24
Hmm sorry but testing on my webpack example works with all latest dependencies - https://github.com/mj1618/serverless-offline-sns-example/compare/webpack-plugin?expand=1

Is there something different in the webpack config that could be causing the issue?
What are the versions of this plugin and your other dependencies?

Unfortunately without being able to reproduce I probably won't be able to help

[2018-02-20 15:25] Siyfion commented on #24
@mj1618 Hmm... Okay, here's a slightly more complex version of my YAML file:

[code]

Could it be any of the DLQ / Resources stuff causing issues?

package.json versions:
[code]

[2018-02-28 15:10] mj1618 commented on #24
Apologies I've been quite busy at work recently.

I can't reproduce with those settings on my example webpack app, though I do see you have two different topicNames there - meanwhile_dlq_ vs meanwhile_

Sorry but unless you give a sample which can reproduce the issue I'm just chasing my tail here. If you can't I will just put a note of the issue in the Readme

[2018-02-28 15:11] Siyfion commented on #24
Sorry @mj1618 I've since moved away from using SNS in this project so it's not an easy one for me to provide a sample for. I'll close it for now, if anyone else suffers the same issue, feel-free to re-open.

[2018-02-28 15:11] #24 closed

[2018-02-28 16:16] mj1618 commented on #24
ok no worries, thanks for reporting it anyway

[2018-03-13 11:31] HoneyryderChuck opened #25 "Support other stacks (i.e.: python)"
I'm looking for the equivalent plugin for python, but haven't been able to.

On an experimental note: how hard would it be to support stacks other than node? The way I see it, the runtime is declared in the serverless.yml (provider.runtime), and one could just fork-exec a call to the method (?)

[2018-03-13 11:38] mj1618 commented on #25
Hey there!

So if you listen on a HTTP endpoint you can use this plugin as it is with python. This plugin will send requests to any HTTP endpoint.

If you want to call directly to python with it I'm not quite sure how it would work. Does serverless work with python?

[2018-03-13 11:44] HoneyryderChuck commented on #25
What do you mean by that?

Yes. In dev, I'm using [serverless-wsgi](https://github.com/logandk/serverless-wsgi) for the http endpoints. I'm now setting up a function which will trigger over SNS, but I'm not able to use it in dev. Was hoping that this lib could help.

The way I see it, [one could rewrite this part](https://github.com/mj1618/serverless-offline-sns/blob/master/src/index.ts#L141-L142)

[2018-03-13 12:26] mj1618 commented on #25
Yea so what I mean is you can:
- startup serverless offline sns
- use AWS python lib to subscribe with a HTTP endpoint (pointing to your python app)
- use AWS python to send an event
- that event will be sent to the HTTP endpoint

But yes - exec syscall will work, I just don’t know how wsgi works, when you use exec is there any state that needs to be passed through?

Feel free to give it a crack a

[2018-03-13 17:00] HoneyryderChuck commented on #25
this might be more complicated than just fork+exec, because you actually need to pass the arguments to a function, and that's difficult to guarantee under these conditions. Maybe this is not achievable using serverless...

[2018-03-15 09:32] #25 closed

[2018-03-18 15:50] kensykora opened #26 "Function won't fire - Unclear documentation of required ARN topic format"
I had this same issue as #24 (by @Siyfion) and had to dig in to figure out what the issue was. The documentation isn't 100% clear on this, but your code sample and some source code inspection confirmed it, **when you publish a message you HAVE to use an ARN containing the Amazon account ID** `123456789012`.

e.g., format of `TopicArn` must be equal to `arn:aws:sns:us-east-2:123456789012:TopicName`

[2018-04-12 07:09] sahalsaad commented on #26
You can see the arn if you enable the [debug](https://github.com/mj1618/serverless-offline-sns#installation). `debug: true`

[2018-04-14 05:15] dimitrovs opened #30 "Exception after 2 minutes of Lambda execution"
Timeout is set to 300 seconds in my serverless.yml. After my Lambda (triggered by SNS offline) executes for 2 minutes I get this exception:

`(node:3811) UnhandledPromiseRejectionWarning: FetchError: request to http://127.0.0.1:4002/stopProjectHandler failed, reason: socket hang up
    at ClientRequest.<anonymous> (/home/ec2-user/workspace/api-projects/node_modules/node-fetch/index.js:133:11)

[2018-04-14 06:27] mj1618 commented on #30
Just pushed a fix, mind upgrading to v0.40.0 and testing?

[2018-04-14 20:51] dimitrovs commented on #30
It doesn't fix it. I think the problem is with the NodeJS server and its timeout default set to 120 seconds: https://stackoverflow.com/questions/26909910/express-4-x-closes-connections-after-2-minutes

[2018-04-17 05:39] jackbit opened #31 "Webpack issue"
**Issues**
1. SNS did not run when embeds with SLS OFFLINE
2. SNS can not identify ES6 version like import when run the code;

**Proof of issue**
**1. SNS did not run when embeds with SLS OFFLINE**

[code]
At this point, we dont see any serverless offline sns, here is the serverless.yml

[code]

**2. SNS can not identify ES5/6/7 version like import when run the code**
[code]
**When standalone offl

[2018-04-17 05:43] jackbit commented on #31
snipped code:

[code]

[2018-04-17 05:50] jackbit commented on #31
**webpack**

[code]

[2018-04-17 05:52] jackbit commented on #31
**package.json**

[code]

[2018-04-17 06:02] jackbit commented on #31
I have tried the following combination but still not work:

**comb1:**
[code]

**comb2:**
[code]

[2018-05-05 00:49] bargenson opened #37 "Message with default or not"
I started to develop a project locally using serverless-offline-sns and I realized once I deployed on AWS that published messages that were working locally didn't work then.
SNS requires messages to have a top-level `default` key. The subscriber then receives the content of the default key directly.
Locally though, the subscriber seems to not receive the same thing than on AWS but exactly the same

[2018-05-15 21:20] crash7 opened #38 "Support simulation SMS publish"
Hello,
Thanks for the lib! We are using it for local development and we are getting some errors when doing the following:
[code]
I believe this is related with the parsing function always expecting a topic:
[code]

Any chances to adapt this? More than happy to send a PR!

[2018-05-28 19:43] crash7 opened #39 "Accept an alternative subscribeEndpoint"
Hello! We are using this plugin with a docker container running [LocalStack](https://github.com/localstack/localstack) and in order to call the SNS endpoint from the container I need to be able to specify a custom subscribeEndpoint.

I changed this line:
https://github.com/mj1618/serverless-offline-sns/blob/master/src/sns-adapter.ts#L89
to something like:
[code]
and the request worked fine, so if

[2018-05-29 10:51] #39 closed

[2018-05-31 07:15] tliecau opened #41 "Not working message filtering"
Hi!

First off all: Awesome job!

I've encountered an issue:
I'm not sure if this is a bug or this feature is simply not supported but...

I'm using filtering message feature (https://docs.aws.amazon.com/sns/latest/dg/message-filtering.html) and it looks like sns offline triggers all lambdas in the topic.

I just added to lambda description in serverless.yaml:
[code]
Publishing to sns with paramet

[2018-06-29 02:10] zigzhang opened #42 "Handler is not updated"
Hi,

**Problem**:
After starting serverless offline  `serverless offline start`, I can publish a message on SNS offline without any problem, and the handler is running.
When I change the code in my handler and publish again a message, the previous handler is run, and not the updated one.

I need to stop serverless offline and re-start it for the changes to be taken into account.

**Why it matters*

[2018-07-03 06:18] byF commented on #26
@kensykora You can change the account id through config:
[code]

[2018-07-03 06:35] byF commented on #41
The filter policy is not supported by CloudFormation yet, you can't use it in the serverless configuration yet. It's the same problem for SAM: https://github.com/awslabs/serverless-application-model/issues/261

[2018-07-03 08:56] #38 closed

[2018-08-17 06:25] ricxsar commented on #31
I also experienced this issue. I hope this will be addressed as soon as possible.

[2018-08-24 17:30] otaviofff commented on #41
You can now set SNS subscription attributes via CloudFormation templates. This includes FilterPolicy.

https://aws.amazon.com/blogs/compute/managing-amazon-sns-subscription-attributes-with-aws-cloudformation/

[2018-10-22 02:46] bradleyess opened #47 "Typescript Handler Not Triggering on SNS Event"
I am facing an issue here where my SNSSend handler appears to work, sending the message. However the handler for the listener for the topic is never triggered.

I am using the following plugins:
[code]

This is the message I see with SLS_DEBUG.
[code]

These are the functions attached to the handlers.
*index.ts*
[code]

*serverless.yml - Functions*
[code]

*webpack.config.js*
[code]

Any pointers

[2018-10-31 18:02] anaerobic opened #49 "sns publish hangs when using localstack + async handler w/o callback"
Hello! I am building a lambda that can consume s3 events and s3->sns events, which involves using localstack to configure the s3 bucket notifications to auto-publish the sns message.

Currently the sns publish will "hang" and localstack will repeatedly throw `Connection Aborted` errors because my `async handler` does not implement the optional callback, which is required by the snsAdapter to compl

[2018-10-31 18:06] anaerobic commented on #49
fixed in https://github.com/mj1618/serverless-offline-sns/pull/48 (i'm trying to get the PR to link to the issue :/ )

[2018-11-01 15:09] anaerobic commented on #49
@mj1618 i'm not sure what the process is to get this PR reviewed, please advise at your convenience, thanks so much!

#48

[2018-11-21 05:11] #49 closed

[2018-11-27 13:41] chriscarex commented on #41
still not working for me, any example on how to implement it?

[2018-12-20 08:03] shierro commented on #26
in my case, following the 1st example on the [official docs](https://serverless.com/framework/docs/providers/aws/events/sns#using-a-pre-existing-topic)
[code]
Does not trigger the subscribed function.

following the 2nd convention on the official docs, is the one that works
[code]

Would you consider supporting the 1st one, or as suggested earlier improve documentation to note that 1st option from

[2019-01-15 18:22] dboune opened #50 "serverless-offline-sns does not start when using serverless-offline"
Using the following packages, serverless-offline-sns does not start when running `serverless offline`

[code]

It does start just fine when running `serverless offline-sns start`.

Quickly messing about, and using another working plugin as example, I was able to get it to start by making the following change in the dist package... note the addition of a `before:offline:start` hook.

[code]

[2019-01-15 21:10] dboune opened #51 "AWS_LAMBDA_ environment variables not set when handler called"
When a function is called that publishes an SNS message to a queue, the receiving function does not have the AWS_LAMBDA_* environment variables set. These variables are set properly for the calling function.

In a plain serverless local invocation these are set by the AwsInvokeLocal plugin. https://github.com/serverless/serverless/blob/master/lib/plugins/aws/invokeLocal/index.js#L102-L110

[2019-01-16 02:45] dboune commented on #51
Also noticed that IS_LOCAL isn't propagated either, but IS_OFFLINE is available.

[2019-01-16 18:31] aheissenberger opened #52 "AWS SQS / create queue"
What do I need to change in my configuration?

I cannot create a queue as part of the resource section or by the command line:
[code]
or by script:
[code]

my configuration is:
[code]

here is my DEBUG log:
[code]

[2019-01-17 21:14] dboune commented on #50
I've learned this is due to a difference between running `serverless offline start` and `serverless offline` (without `start`). For whatever reason most packages (including serverless-webpack) add "before:offline:start" so that the package will function either way.

[2019-01-23 14:28] JrSchild opened #53 "Multiple instances will unpublish each others subscriptions"
Version: `v0.49.0`

**Problem**
We have multiple serverless stacks running inside a docker container. Also there's a localstack instance within the same docker-compose environment. Each sls stack has the following configuration:
[code]
The problem with this set up is that when booting up each serverless-offline-sns instance (inside each stack) will unpublish each other's subscriptions, based on th

[2019-01-30 14:16] astuyve commented on #41
@tliecau @chriscarex what kind of policy filter are you using? AWS filterPolicies can get pretty complicated, but I do have a patch which implements basic whitelist filtering for strings and string arrays (no numerics, or `anything but`) quite yet.

[2019-02-15 14:00] astuyve commented on #52
You need to run some kind of queue locally. I recommend [ElasticMQ](https://github.com/softwaremill/elasticmq)

[2019-02-21 18:59] jkruse14 commented on #26
Following up on @shierro's comment, if the snsConfig is a string, the plugin assumes this is the topicName, but Serverless docs require this to be the ARN:

<img width="849" alt="offline-sns-issue" src="https://user-images.githubusercontent.com/16331726/53194180-64b06280-35d8-11e9-9081-0d159882873c.png">

Here you can see the docs show it as the ARN and you will actually get an error when trying t

[2019-02-24 17:28] dpickett commented on #50
@dboune thanks for that tip. my publish invocations were timing out and I had no visibility into what's happening. Running `sls offline start` explicitly eliminates the issue for me.

[2019-02-25 07:40] #41 closed

[2019-02-27 00:18] gevorggalstyan opened #61 "Commit has broken the library"
Commit dcd774a82902e0b56ce96673b3286ef6b7b1a8c0 has broken the library making entirelly incorrect assumption.

The comment in the code says "According to Serverless docs, if the sns config is a string, that string must be the topic ARN. https://serverless.com/framework/docs/providers/aws/events/sns#using-a-pre-existing-topic".

The commit is misinterpreting the documentation. There is nothing on t

[2019-03-10 09:32] Clement134 opened #62 "Body inconsistency when used with SQS"
The body received after publishing in an SQS queue from an SNS topic is different between local and cloud executions.

I have a lambda function which publishes a message on an SNS topic linked with an SQS queue. Another lambda gets messages from this queue and logs it.

With local execution body of received messages has the following structure:
[code]
But on AWS, the body has this structure:
[code

[2019-03-20 09:46] juancarlosfarah commented on #61
I don't know if it's related, but I'm seeing that if I use the following syntax, the event does not get called correctly when `topic-name` is published.

[code]

However, the `arn` syntax does work.

[code]

As indicated by @gevorggalstyan everything works well on v0.49.

[2019-03-21 11:45] #52 closed

[2019-03-25 18:56] mteleskycmp opened #66 "filterPolicy doesn't check the values of every filter, only that the keys have a value provided and one value matches"
I have a block similar to this in my `serverless.yml` file

    consumeSNS:
      handler: src/functions/sns/consume.handler
      events:
        - sns:
            arn: "arn:aws:sns:us-east-1:123456789012:event_storage_topic"
            filterPolicy:
              name:
                - user.created
                - user.updated
              origin:
                - component1

[2019-03-25 19:12] mteleskycmp commented on #66
While modifying the tests to verify this is an issue I realize that the tests miss this case:
 - Property exists on the event, but value is wrong

In the test `should not send event when multiple filter policies exist and the message only satisfies one` the second value in the event isn't set and the check in `EvaluatePolicies` does successfully break if the filter isn't provided. However, it miss

[2019-03-25 19:22] mteleskycmp commented on #66
I made a pull request to fix it https://github.com/mj1618/serverless-offline-sns/pull/67

[2019-03-30 01:01] all9lives commented on #37
I experienced the same issue, it would be great if this plugin mimicked the aws behavior of requiring the top-level `default` key and passing that down as the message when the notification is being received.

[2019-04-13 05:47] perkyguy commented on #30
Bringing up a long dead issue, but hopefully the PR I put in should fix this issue. I ran into a similar problem as the @dimitrovs , so it would be great if this got included in some release

[2019-04-20 12:27] MatissJanis commented on #61
This works:
[code]

[2019-04-23 09:38] sagarpatke opened #69 "Adding this plugin in serverless.yml breaks API Gateway Handler"
Steps to reproduce:
In a working serverless project:
1. Install: `npm install -D serverless-offline-sns`
2. Add serverless-offline-sns to plugins in serverless.yml
3. run `npm offline start`
4. curl the API Gateway route, fails with the below error message
5. comment the plugin in serverless.yml, functionality starts to work again

The error displayed:
{"message":"The security token included in th

[2019-04-24 06:57] gerbenis opened #70 "Body of HTTP protocol messages is in incorrect format"
Steps to reproduce:

1. Launch an API with serverless-offline-sns
2. Subscribe an HTTP endpoint to a topic
3. Fire a message to the topic

Expected result:
Body of the POST request complies to the documented AWS formats: https://docs.aws.amazon.com/sns/latest/dg/sns-message-and-json-formats.html
[code]

Actual result:
Format of a Lambda event is used in the request body (i.e. the SNS message itsel

[2019-04-24 23:33] victorsferreira opened #71 "Reading skipCacheInvalidation option from the wrong place"
https://github.com/mj1618/serverless-offline-sns/blob/efe0e954fdd647f7bab72b52bf231399ca368e8a/src/index.ts#L180

The condition in this line is never satisfied if we pass `skipCacheInvalidation` from the command line.

Launching the application as following:

`serverless offline --skipCacheInvalidation start`

Will keep the parameters stored in the `this.options` object.

So, replacing `this.serve

[2019-04-25 11:57] gevorggalstyan commented on #61
@MatissJanis nice observation, that means we also have an inconsistency in the approach and the way how serverless treats both of these ways equally.

@mj1618 could you please revert that commit? We would really love to use later versions of the plugin.

[2019-05-22 18:50] jodybrazil opened #74 "RawMessageDelivery with SQS"
Subscribing the SNS queue to an SQS queue with the attribute `RawMessageDelivery="true"` will cause exception:

[code]

This is caused by `event` being set to the value of message at: https://github.com/mj1618/serverless-offline-sns/blob/master/src/sns-server.ts#L239

A simple fix to this could be to replace that block with:

[code]

[2019-06-19 16:29] pjcav commented on #74
Created this PR for the issue.  https://github.com/mj1618/serverless-offline-sns/pull/75.  just sending the message along if RawMessageDelivery is set

[2019-07-16 11:40] MarcelCutts commented on #50
I lost a lot of time hunting this down. I'll put it in the README.

[2019-07-28 14:54] mj1618 commented on #30
Sorry for the delay all, this should be fixed after the merge.

[2019-07-28 14:54] #30 closed

[2019-07-28 14:55] mj1618 commented on #26
Sorry for the delay all, this should be fixed after the merge.

[2019-07-28 14:55] #26 closed

[2019-07-28 15:01] mj1618 commented on #74
Merged, let me know if you still experience issues

[2019-07-28 15:01] #74 closed

[2019-07-28 15:02] mj1618 commented on #71
Looks good, thank you for the PR!

[2019-07-28 15:02] #71 closed

[2019-07-28 16:40] mj1618 commented on #70
Fixed with commit above

[2019-07-28 16:40] #70 closed

[2019-07-28 16:41] mj1618 commented on #66
Merged, let me know if this works. Apologies for the delay in response.

[2019-07-28 16:41] #66 closed

[2019-07-28 17:24] mj1618 commented on #61
Pushing a fix now, apologies for the delay

[2019-07-28 17:25] #61 closed

[2019-07-28 17:26] mj1618 commented on #62
Can you please see if this is still happening? I think it should be fixed now

[2019-07-28 17:27] mj1618 commented on #53
Thanks for the bug report, happy to accept a pull request on this with the `.filter` added.

[2019-07-28 17:30] #50 closed

[2019-07-28 18:03] #37 closed

[2019-07-29 05:44] #62 closed

[2019-07-29 05:46] mj1618 commented on #47
Hmm, try now there's been a lot of changes I've merged and this might be fixed.

[2019-07-29 05:48] mj1618 commented on #31
I've got some examples I did a while ago on webpack and typescript, are you able to get these working?
https://github.com/mj1618/serverless-offline-sns-example/tree/webpack-plugin
https://github.com/mj1618/serverless-offline-sns-example/tree/typescript-plugin

[2019-07-29 05:49] mj1618 commented on #47
also have you seen the webpack and typescript examples?
https://github.com/mj1618/serverless-offline-sns-example/tree/typescript-plugin
https://github.com/mj1618/serverless-offline-sns-example/tree/webpack-plugin

[2019-07-29 05:51] mj1618 commented on #42
I'll look into this at some point, I can see it is inconvenient. Not sure how to solve it yet. It may be that we need this function to change to be called on every invocation rather than just once -
https://github.com/mj1618/serverless-offline-sns/blob/master/src/index.ts#L201

[2019-07-29 13:59] mj1618 commented on #69
Weird, looks like an AWS credentials issue. Does configuring AWS creds help?

[2019-07-29 15:02] mj1618 commented on #51
Cool thanks for the info, any suggestions how to fix this?

[2019-08-06 00:19] fx commented on #31
@mj1618 neither of your examples actually _use_ the transpilation, the handler is pure es5, and as such obviously both of them work.

[Easy to explode](https://github.com/mj1618/serverless-offline-sns-example/compare/master...fx:master), though.

Just got back into a 6+month old project that used offline-sns and used to work fine, doesn't anymore. Smells like a regression. It does run webpack firs

[2019-08-06 10:55] mj1618 commented on #31
Oh right, ok I’ll take a look at the PR and see what I can do

[2019-08-16 17:54] sean-hill opened #85 "--useSeparateProcesses"
Hey! This plugin is awesome. I'm just having a little issue where I have a persistent DB connection between lambda invocations. So on the second invocation I get an error saying my DB connection already exists. With `serverless-offline` they have a `--useSeperateProcesses` flag described [here](https://github.com/dherault/serverless-offline/blob/master/README.md#usage-and-command-line-options) tha

[2019-08-19 07:46] mj1618 commented on #85
I haven’t come across this or worked it out yet.

Is it possible to only create the connection if it doesnt already exist? Since a node process could be reused on subsequent lambda invocations in AWS anyway.

Otherwise any suggestions on how this feature could work?

[2019-08-19 13:53] TimothePearce opened #87 "Add basic SNS Delivery Policy implementation"
### Statement
It seems that SNS has a default delivery policy that is not applied in the plugin.

https://github.com/mj1618/serverless-offline-sns/blob/884298b3d25ade67eb636d44c95d6ee2ec63561d/src/sns-server.ts#L248-L260
The catched request is only logged, no other behavior is implemented.

### Question
Do you think this behavior deserves to be implemented in it?
If so, in what form?

### Proposal

[2019-08-23 21:55] sean-hill commented on #85
I actually just removed the dependency I had causing this issue, so I'll close for now :)

[2019-08-23 21:55] #85 closed

[2019-09-25 10:42] killallskywalker opened #89 "SES publish to SNS topic to trigger lambda"
Im currently trigger the lambda function based on ses event . is it possible to trigger lambda locally based on ses event that trigger on live environment / aws cloud ?

[2019-10-22 13:57] aniljaiswal opened #91 "Python runtime support"
I have a lambda function that should be invoked via SNS messages but the plugin is looking for js modules.

Am I missing something or there is no support for Python 3 runtime yet?

[2019-10-29 08:50] stevencsf opened #92 "The request entity too large where posting massage more than 100KB"
In AWS SNS server side the limited post message body is 10MB, but when in the offline have not a option to modify the size of body of the bodyParser using.
Tried add limit of app use of bodyParser in index.js::58
Form
this.app.use(bodyParser.json({ type: ["application/json", "text/plain"]  }));
To
this.app.use(bodyParser.json({ type: ["application/json", "text/plain"], limit:"10MB"  }));

is not w

[2019-12-02 15:24] mj1618 commented on #92
Should be fixed, cheers

[2019-12-02 15:26] mj1618 commented on #91
Sorry, currently it doesn't have support. I do accept pull requests though, or even a suggestion as to how to implement it would be useful.

[2019-12-02 15:26] mj1618 commented on #89
Sorry I'm not sure I haven't seen an SES plugin to serverless yet. Maybe localstack has one.

[2019-12-02 15:27] mj1618 commented on #87
I like it - feel free to raise a PR.

[2019-12-02 15:27] mj1618 commented on #87
Sorry for the delayed response

[2019-12-09 19:23] rubesMN commented on #74
This issue is happening again in 0.65.0.

[2019-12-09 23:45] likeconan opened #97 "aws-cn region issue in topicArn"
Hi,

I set topicArn in sns like below

[code]

however, the SubscriptionArn is still changed into arn:aws:sns:cn-northwest-1:1111111111:course-saved.

Could you help to resolve that?

Thanks a lot

[2019-12-20 14:57] ing-mar-ef commented on #74
Issue still there in v0.68.0. As far as I could see, sub["Attributes"]["RawMessageDelivery"] === "true") is false because Attributes property is {}.
This is quite a big issue and it prevent from testing sns+sqs scenarios.

[2020-01-19 17:27] botond-veress opened #98 "Filter policy doesn't work"
Hey guys,

Thank you for working on this great library :) It's amazing.

I've checked the previous issues and it looks like the `filterPolicy` support was added to this plugin however I am unable to get it working. The lambda does not get triggered (locally) if I add the `filterPolicy` attribute. If I remove it, it is getting triggered just fine.

Here is my lambda configuration:
[code]

Here is m

[2020-01-20 01:15] mr-black-8 commented on #98
A FilterPolicy will filter incoming messages based on `MessageAttribues`, not the message itself. Check out [the AWS Docs for more details](https://docs.aws.amazon.com/sns/latest/dg/sns-subscription-filter-policies.html).

I think changing your publish message to something like this will probably fix the issue:
[code]

[2020-01-20 19:26] botond-veress commented on #98
Thank you for the clarification. However it still doesn't work. It looks like the library ignores all the message attributes.

This is the argument I am passing to the publish method:
[code]

And here is the `serverless-offline-sns` debug log:
[code]

For me it looks like the plugin is unable to read/parse the message attributes because it says:

[2020-01-20 23:15] mr-black-8 commented on #98
My apologies, I overlooked a key point in [the docs](https://docs.aws.amazon.com/sns/latest/dg/sns-message-attributes.html):

I guess from your inclusion of the `MessageStructure` parameter & the top-level `default` key in the message, you intend to send a different message for each protocol? If that's the case then it appears you can't also use a FilterPolicy.

If you don't need to send a differe

[2020-01-21 07:29] botond-veress commented on #98
@mr-black-8 Yes, indeed that was the problem. Thank you for helping me out even though it was not an issue with the plugin. I really appreciate it!

[2020-01-21 07:29] #98 closed

[2020-02-10 09:48] #89 closed

[2020-03-04 21:03] ricardovf opened #99 "Multiple services sharing same SNS (localstack)"
Hi, thanks for this great plugin!

I have two services isolated, each with its serverless.yaml file. Im using localstack. I had to set the port differently for each service to make them work in parallel. I will be adding more services, so each will have to be on a different port, right? Is there a way to prevent this?

Also, the HOST IP ADDRESS (sns-subscribe-endpoint) has to be set for each compu

[2020-03-04 22:10] ricardovf commented on #53
Maybe this is related: https://github.com/mj1618/serverless-offline-sns/issues/99

The problem is that when a sls offline start service A, B and C, and latter i kill B, service A will fail to publish to C because B was not unsubscribed when killed...

[2020-04-11 11:28] hakimio commented on #99
@ricardovf Did you find any workaround for host ip issue?

[2020-04-13 19:44] ricardovf commented on #99
Nop, had to run each service on a different port

[2020-04-13 19:45] ricardovf commented on #99
For the sns-subscribe-endpoint i did this:

sns-subscribe-endpoint: ${env:DEV_LOCAL_IP, 'host.docker.internal'} # Host ip address

On OSX no need for DEV_LOCAL_IP on the env, but on linux, yes.

[2020-04-15 18:41] aniljaiswal opened #100 "Support for lambda based subcriptions"
Are there any plans on adding support for lambda based subscriptions?

[2020-05-07 02:44] kevinlu1211 opened #101 "Documentation for connection to AWS"
After reading through the source code I was able to get an SNS hosted in AWS to trigger my local function as the documentation wasn't very clear

Here is the configuration I used:
[code]

Example usage:

1. Use ngrok: `ngrok http 4002`

2. Setup config like so:
[code]

Happy to make the PR

[2020-05-26 08:19] drieshooghe opened #103 "SNS filterPolicy not working"
When I use a lambda function to push a message (with an attribute) to an SNS topic and have two other lambda's listening to those topics based on attribute filtering, the first lambda in the configuration always gets triggered.

The logs however indicate that the filterPolicy get loaded and the attributes end up in the consumed message.

One of the subscribing lambda's:
[code]

[2020-05-26 09:07] #103 closed

[2020-06-15 15:21] brentpabst commented on #91
@mj1618 Wonder if we can formulate an issue specifically to support non-JS runners.  Would ideally think we'd support the same runtimes as serverless-offline.  Looks like `node` `python` and `ruby` are invoked from the node runtime and compiled languages like `go` `java` `.net` are handled via container executions.  I personally would love to get `go` support working.  Imagine we could leverage a

[2020-06-16 14:43] AshUK opened #105 "Not working with goaws"
I'm trying to use this with [goaws](https://github.com/p4tin/goaws). sls-offline-sns subscribes successfully and I can see events come in and the handler gets triggered. However the sls-offline doesn't startup the remaining http services defined in the serverless.yaml. The sns-event definition is after the http in the yaml.

[code]

Output from (Subscribed: [object Promise])

[code]

Plugin Order:

[2020-07-24 21:25] eduardrock commented on #37
I got the same problem.
Why does it require a default key on the JSON message but on the documentation they use the value "hello!"?.
I doesn't make sense.

![image](https://user-images.githubusercontent.com/1775903/88436645-adbea480-cdd2-11ea-9e37-622e5039b126.png)

[2020-09-01 09:10] chasevida commented on #99
Just curious as to how you got them to publish across to each other. If Service A pushes an event via SNS was Service B picking up on it? I haven't yet got this working and seemed like you were doing something similar. Cheers.

[2020-09-16 18:55] akawalsky commented on #31
Hey all, I made this work by changing the start up hook to occur after `offline:start:init` rather than before. The issue was that the location wasn't being resolved correctly because at the time the `init` function is called, the `this.serverless.service.custom["serverless-offline"]` has not yet been loaded.

[code]

Once I changed this locally, everything worked! @mj1618 fyi

The downside is tha

[2020-09-23 08:41] blair55 opened #107 "Create topics defined in Resources section of serverless.yml"
I notice that the plugin will automatically create topics for function handlers with an `sns` trigger.

Is there a way to have the plugin automatically create topics defined under the `Resources` section of my serverless file?

[code]

I'm thinking this would be similar to the `migrate` property of the `serverless-dynamodb-local` plugin which instructs the plugin to create tables defined by the re

[2020-09-30 04:38] thejuan opened #110 "Handler innvocations sharing memory"
It appears this executes handler code concurrently in the same memory space.
This is causing issues for us as some of our code is expecting the isolation that occurs in Lambdas.
One solution could be too use WorkerThreads like serverless offline does, not sure if they expose an API for calling handlers?

[2020-09-30 04:45] thejuan commented on #110
Maybe using https://github.com/dherault/serverless-offline/blob/79c05b5a9f209598fab96ac66e91fc4ea5e9a71f/src/lambda/handler-runner/HandlerRunner.js

[2020-10-28 16:16] AlysonBasilio commented on #91
@mj1618 did you tested https://github.com/mj1618/serverless-offline-sns/pull/102? I hava a lambda function in ruby that is not running and I think that Pull Request could solve this issue. It was merged but was not tagged.

[2020-11-10 22:05] thejuan commented on #110
Good example on SQS offline. Handles all runtimes as well https://github.com/CoorpAcademy/serverless-plugins/blob/master/packages/serverless-offline-sqs/src/index.js

[2020-12-20 16:44] nelsongallardo opened #113 "lambda is not triggered for sns topic"
I'm using python, and I have the latest version of `serverless-offline-sns` that supports python, and I have the following yml

[code]

`Ping` function works correctly, I can see it pushes the event to the local SNS from the logs. But then nothing happens, and the `pong` function never gets triggered.

[2020-12-21 12:48] LordAndreasOtten commented on #113
ive the same issue with my nodejs app sadly

[2020-12-21 13:26] LordAndreasOtten commented on #113
Although i got it to work by pushing to my localstack env instead of sns from sns-offline

[2021-01-12 16:17] apoffa commented on #113
Same issue. The lambda gets subscribed, the event is correctly fired and no errors are shown. I've also tried with a different end-point but the listener lambda isn't called. It works perfectly when deployed.

[2021-01-21 20:07] jeffster23 commented on #91
I have had success using this plugin with Python 3.7 using the latest commit of this repo.

[2021-01-26 12:17] harryhazza77 commented on #74
yes still in issue in v0.68.0

[2021-02-02 18:11] jeffster23 commented on #113
I was able to get this working with latest commit of this repo (https://github.com/mj1618/serverless-offline-sns/commit/0e75fe661bbcd522d2b7e168cc2946f2db0aa460).

My serverless.yml is setup much like yours. The order of plugins listed under `custom` has sometimes hard-to-anticipate implications. My plugins are listed as:

[code]

As for the function itself:

[code]

[2021-02-04 14:19] AmarjitMindtree commented on #31
@jackbit
You are not starting serverless offline.

try to run command
**sls offline start -P 3030 --noTimeout**

I am sure it will work.

[2021-02-08 08:22] chichicuervo opened #115 "how to stop automatic unsubscribeAll?"
My application is designed in a master/slave format, with each component being it's own Serverless/Cloudformation deploy.  The basic jist is the master component sends each slave component instructions via SNS, which means /both/ the master and /each/ slave component needs to talk to the same SNS queues.

I've got a localstack going in it's own VM and I've gotten each half of the application talki

[2021-02-08 08:25] chichicuervo commented on #115
seems to be related to #53

[2021-04-20 14:56] viniciusrtf commented on #113
Tried @jeffster23 solution, but that last commit didn't help me. In my case the order of plugins were fine already.

Using node14.x runtime here. My "ping" function correctly publishes a message in a topic where "pong" is subscribed, but "pong" is never triggered. Everything works fine in AWS though.

[2021-04-21 02:21] viniciusrtf commented on #113
Oh man... I finally could get "pong" to be triggered. In my case the issue was I didn't specified an accountId in the plugin config.

Once I did this:

[code]

Subscribed functions started firing after messages were pubilshed.

The README does not mention that if you don't provide a value for custom.serverless-offline-sns.accountId in serverless.yml, it will default to "123456789012". It just ment

[2021-04-21 02:26] viniciusrtf commented on #113
Oh man... I finally could get "pong" to be triggered. In my case the issue was I didn't specified an accountId in the plugin config.

Once I did this:

custom:
  serverless-offline-sns:
    port: 4002
    debug: false
    accountId: <my-aws-account-id>

Subscribed functions started firing after messages were pubilshed.

README mentions accountId as an optional value but I didn't see it. My bad.

[2021-04-22 19:29] pearsonhenri commented on #91
good tip, changing my package.json to
[code]

got it done for me. any plans to release a new version of this package that includes that commit btw? :)

[2021-06-09 20:13] falecci commented on #99
What's the status on this? I've tried several configurations but I can't setup two services like @chasevida

[2021-07-01 09:54] ludwignyberg commented on #91
@mj1618 any updates on whether or not the latest commit will be released as a new package version?

[2021-07-07 03:39] icameron commented on #99
@chasevida @falecci

What worked for me was to setup a sls offline local sns service bridge

local-sns.yaml

[code]

then on the other services yamls
[code]

[2021-07-09 12:48] mj1618 opened #120 "Add Tests to auto subscribe SQS queue to SNS topic"
This needs some tests: https://github.com/mj1618/serverless-offline-sns/pull/88

[2021-07-09 15:18] #92 closed

[2021-07-09 15:25] #51 closed

[2021-07-09 15:25] #47 closed

[2021-07-09 15:25] mj1618 commented on #53
Thank you I have merged chichicuervo's fix

[2021-07-09 15:25] #53 closed

[2021-07-09 15:26] #69 closed

[2021-07-09 15:27] mj1618 commented on #91
Sorry for the delay, new package versions are being released a bit more frequently now.

[2021-07-09 15:27] #91 closed

[2021-07-09 15:39] mj1618 commented on #31
Sorry I can't seem to replicate the issue here - https://github.com/mj1618/serverless-offline-sns-example/tree/webpack-plugin

[2021-07-09 15:42] mj1618 commented on #31
Maybe a more recent commit has fixed this I'm not sure. Not an issue anymore by the looks of it though.

[2021-07-09 15:42] #31 closed

[2021-07-09 15:44] mj1618 commented on #97
What's the expected result?

[2021-07-09 15:47] mj1618 commented on #105
Hi, what does the yaml look like?

[2021-07-09 15:53] mj1618 commented on #101
Go for it, I have added something basic in but feel free to explain it more.

[2021-07-09 15:53] #101 closed

[2021-07-09 15:55] mj1618 commented on #115
I think this should be fixed now

[2021-07-09 15:55] #115 closed

[2021-07-09 16:23] #120 closed

[2021-07-09 16:23] #113 closed

[2021-07-09 16:24] #107 closed

[2021-07-09 16:33] #100 closed

[2021-07-09 16:34] #99 closed

[2021-07-12 00:20] likeconan commented on #97
The expected result is including arn:**aws-cn**:sns not arb:**aws**:sns, however I find another way to fix it.

You can close it now,

Thanks

[2021-08-01 23:38] bitsofinfo opened #134 "0.76.0: SNS -> publish to subscribed SQS queue, "Records" assumption leads to lost message, empty array."
using 0.76.0

My code is sending a message to SNS like this:
[code]

I have an SQS queue (in serverless-offline-sqs) that is subscribed to the event topic the code is publishing to (which is properly setup and I see the queue existing in elasticmq)

[code]

When I startup the app, I see the queue being successfully subscribed to my serverless-offline-sns created topic as expected.

When the code r

[2021-09-17 02:40] flaviofilipe opened #139 "Get Function Name return undefined"
https://github.com/mj1618/serverless-offline-sns/blob/5a29200a9861967151a24d81695e96576d2f674d/src/index.ts#L161

**Error message:**
`TypeError: Cannot read property 'runtime' of undefined`

If I create an SNS Subscription, without SQS or SNS function, I can't get the function name.

In CreateHandler I can't get the runtime property:
https://github.com/mj1618/serverless-offline-sns/blob/5a29200a98

[2021-09-17 10:01] divillysausages opened #140 "SNS -> SQS Subscription example"
Is there an example for how to properly set up an SNS -> SQS subscription?

I have a serverless file, like this:

[code]

The plugin seems to pick up the `AWS::SNS::Subscription` correctly, though it seems to *link to the final Lambda* as the endpoint, rather than the SQS queue. If I print out the subscriptions, I get

[code]

If I trace the actual message sent through SQS, it's

[code]

The actua

[2021-09-22 00:08] bitsofinfo commented on #140
@divillysausages see the PR code in https://github.com/mj1618/serverless-offline-sns/pull/135, if you patch your local w/ that it should work

[2021-09-23 08:41] divillysausages commented on #140
Hi @bitsofinfo ,

Just to clarify; your PR fixes the SNS directly sending the message to Lambda, is that correct? As in, it's normal that it bypasses the SQS queue entirely?

[2021-09-27 14:04] Bemjamin opened #141 "SNS Offline + Typescript"
Hello, I am using Serverless with typscript and the plugin is not working. I'm getting the following error:

`Class extends value [object Object] is not a constructor or null`

Do you know what this could possible be? My current config is:

`"serverless-offline-sns": {
      port: 4002,
      debug: true,
      location: ".webpack"
    }`

Thank you.

[2021-09-27 14:16] richlloydmiles commented on #141
Hi,

It is unlikely the plugin is causing this issue as all it is doing is with regards to typescript is setting the location of the handler.js file - https://github.com/mj1618/serverless-offline-sns/commit/746b5581c185768c96a7aa09012a977983be2cb0#diff-a2a171449d862fe29692ce031981047d7ab755ae7f84c707aef80701b3ea0c80

I assume in your case the handler.js file is found in `.webpack/handler.js` ?

Ad

[2021-09-27 14:23] Bemjamin commented on #141
The error happens before it touches this line. It happens when it requires sls-config-parser:

`var sls_config_parser_1 = require("./sls-config-parser");`

[2021-10-20 16:39] erik-am commented on #134
For me it works if I specify it like this. (Using your example)

[code]

Note the quotes in `rawMessageDelivery: 'true'`! It doesn't work as a boolean, it should be a string.

Then the line of code that you changed in your PR is not even touched, because it will take this branch:

https://github.com/mj1618/serverless-offline-sns/blob/5a29200a9861967151a24d81695e96576d2f674d/src/sns-server.ts#L348-

[2021-11-16 18:17] evandromillian commented on #141
I received the same error with the newest version (0.76.0 at this time).
When I executed the example project serverless-offline-sns-example, the version used was 0.72.0. The older version works correctly.

[2021-11-20 13:45] lageorgem opened #144 "servicesDirectory option does not function correctly"
The issue:
When including the servicesDirectory option, the `loadServerlessConfig` file is called with the argument `shell.pwd()` which appears to return a non-primitive `String`. This non-primitive is then passed to `fs.statSync` which fails.

[code]

[2022-01-14 11:34] ThMrtns commented on #144
I fall into the same. Anybody knows about a workaround?

[2022-01-16 19:17] JordanPawlett commented on #139
This is still an issue. Prevents serverless offline from starting when you have SQS subscribed to an SNS topic.

[2022-01-22 17:26] 1frag commented on #144
Fixed errors in #148.

[2022-02-05 15:02] qstyler commented on #141
Sadly it was an issue https://github.com/mj1618/serverless-offline-sns-example/issues/1
and this plugin still cannot handle typescript property

I'm using `nx` with `@ns3/nx-serverless` and it works just fine unless I try to do something with SNS.

Then it gives me all possible errors whatever I try to do...

[2022-02-16 14:21] jhonpedro commented on #141
Works fine if your serverless config file is a yml.

Here is an [example](https://github.com/jhonpedro/sls-sns-notifications).

[2022-03-02 16:58] rcambrj commented on #141
This appears to have broken somewhere between `0.74.0..0.75.0`

[2022-03-03 13:13] rcambrj commented on #134
I made a similar [fix](https://github.com/VanMoof/serverless-offline-sns/commit/7f0354b18ab44d4ca637deee161469b375d2d825) to yours @bitsofinfo, but preserving the event shape for `publishHttp`. I also based from `0.74.0` due to #141 because later versions seem to be break on inclusion into typescript serverless templates.

This alone causes #143 for me. But instead of using the fix in proposed by

[2022-05-03 19:53] ezmiller opened #152 "Publish message to offline sns server with aws cli?"
Is it possible to publish to the offline sns server using the aws cli command, i.e. `aws sns publish`?

[2022-05-26 15:28] gusbernardo commented on #141
I'm running into the same issue, is there a work around for this?

[2022-06-06 06:49] thejuan commented on #139
Also preventing us upgrading

[2022-08-17 18:44] Angc288 commented on #139
Having same issue. Any workaround?

[2022-09-05 21:08] bpm1992 opened #157 "SignatureDoesNotMatch when getting Subscriptions"
Hi,
Thanks for the very useful plugin.  It was setting up a new system and cannot seem to get the plugin to work on a newer system with newer packages.  There seems to be some issue with the way it signs the request.  Do you have any suggestions?

DEBUG[serverless-offline-sns]: starting plugin
DEBUG[serverless-offline-sns]: using specified host 0.0.0.0
DEBUG[serverless-offline-sns]: listening on 0

[2022-09-06 02:03] bpm1992 commented on #157
This can be fixed by editing sns-adapter.js and removing the 'endpoint' parameter in the SNS configuration.  This will allow the AWS SDK to pick the correct endpoint.

this.sns = new AWS.SNS({
            //endpoint: this.endpoint,
            region: region,
});

[2022-09-06 02:21] bpm1992 commented on #157
Created Pull Request with update.

https://github.com/mj1618/serverless-offline-sns/pull/158

[2022-09-06 02:21] #157 closed

[2022-10-17 11:32] uzair004 commented on #91
Is it supported now ? in which version of serverless offline?
I am using `serverless-offline 7.x` & it doesn't work with python `3.6` but working with python `2.7`

[2022-10-18 13:54] fzanfolim opened #160 "Does not work with .mjs extension"
I'm using esbuild to generate lambda in mjs extension, but when running sns offline, Error: Cannot find module.
Any suggestion

[2022-10-26 00:30] newtechfellas commented on #141
I reverted to 0.74.0 as work around as per [above](https://github.com/mj1618/serverless-offline-sns/issues/141#issuecomment-1057157346) comment

[2022-11-06 16:04] yogevy opened #161 "cannot set skipCacheInvalidation option"
in order to use the skipCacheInvalidation option, we need to pass it as a command line option parameter, but it no longer supported.

how can I still use this option?
also I think skipCacheInvalidation should be part of the config